root {

}

.badge {
    -fx-background-color:  #1186AD44;
    -fx-background-radius: 4;
    -fx-padding: 0 3 0 3;
}

.badge.b-blue {
    -fx-background-color:  #09C1FF44;
}

.badge.b-purple {
    -fx-background-color:  #00FF0044;
}